.background {
    background-image: url(img/header-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo-image {
    width: 27px;
    height: 27px;
    padding-left: 23px;
}

.logo-text-architect {
    padding-left: 15px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 70px;
}

.link-nav-bar {
    padding: 0 27px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}

.search {
    color: white;
    width: 17px;
    height: 17px;
    padding-right: 25px;
}

.buttons-text-header {
    text-align: center;
    color: white;
    padding-top: 130px;
    padding-bottom: 130px;
}

.text-upper-buttons {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.subscribe-header {
    padding-right: 20px;
}

.subscribe-header1 {
    width: 170px;
    height: 55px;
    background-color: #89ca62;
    display: inline-block;
    padding-top: 19px;
    box-sizing: border-box;
    font-size: 18px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.articles-header1 {
    width: 170px;
    height: 55px;
    background-color: #14b9d5;
    display: inline-block;
    padding-top: 19px;
    box-sizing: border-box;
    font-size: 18px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.subscribe-header {
    margin-bottom: 127px;
}

.text-in-top-gallery-items {
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-align: center;
    text-transform: uppercase;
    padding-top: 45px;
    padding-bottom: 45px;
}

.background1 {
    background-color: #f2f2f2;
    padding-bottom: 70px;
}

.gallery-item1 {
    background-color: white;
    text-decoration: none;
}


.vangio-house {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
}

.gallery-images {
    display: flex;
    width: 1218px;
    margin: 0 auto;
    justify-content: space-between;
}

.column1 {
    display: flex;
    flex-direction: column;

}

.margin-top {
    margin-top: 30px;
}

.background-main {
    background-image: url(img/bg-main.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.head-text-main {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 20px;
    color: white;
    position: relative;
}

.head-text-main:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    position: absolute;
    background-color: #169cb4;
    left: 700px;
    margin-top: 55px;
}


.images-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.top-rated {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.img-after-top-rated {
    width: 100%;
    height: auto;
}

.container-hot-news {
    width: 100%;
    height: 1683px;
    text-align: center;
}

.hotnews-container-into {
    display: grid;
    width: 1170px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 42px;
    margin: 0 auto;
}

.hot-item1 {
    grid-column: 1/4;
}

.hot-item2 {
    grid-column: 4/5;
}

.hot-item3 {
    grid-column: 1/3;
    grid-row: 2;
}

.hot-item4 {
    grid-column: 3/5;
    grid-row: 2;
}

.hot-item5 {
    grid-column: 1/3;
    grid-row: 3;
}

.hot-item6 {
    grid-column: 3/5;
    grid-row: 3;
}

.hot-item7 {
    grid-column: 1/2;
    grid-row: 4;
}

.hot-item8 {
    grid-column: 2/5;
    grid-row: 4;
}

.hot-item2 > .hot-news-links,
.hot-item7 > .hot-news-links {
    text-align: center;
}

.hot-news-links {
    text-decoration: none;
    text-align: right;
}

.hot-flexbox .hot-news-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hotnews-bgc {
    background-color: #f9f7f7;
}

.hot-news-title {
    font-family: AdobeInvisFont, Courier, OpenSans-Semibold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 20px;
}

.hot-news-text {
    font-family: AdobeInvisFont, Courier, OpenSans-Semibold, sans-serif;
    font-size: 14px;
    color: black;
    padding: 0 20px;
}

footer {
    background-color: #1d2124;
    width: 100%;
    height: 80px;
}

.copyright {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.copyright-text {
    color: white;
    font-size: 13px;
    font-family: AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    padding-top: 40px;
}
.scroll-top {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: var(--color2);
    color: var(--color1);
    font-size: 24px;
    font-weight: 600;
    height: 40px;
    width: 40px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}
:root {
    --color1: #fffff6;
    --color2: #161619;
}

.show-img-btn {
    background-color: palevioletred;
}